    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    form {
        background-color: ghostwhite;
        max-width: 700px;
        margin: 20px auto;
        padding: 20px 20px 50px 45px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    select {
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
    }
	input {
		padding: 6px;
		border: none;
		color: #674e3c;
		border-radius: 4px;
		cursor: pointer;
	}

    button {
        background-color: #674e3c;
        color: white;
        padding: 5px 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }

    button:hover {
        background-color: #c48252;
    }

    #ingredients_list li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #directionsContainer {
        margin-top: 10px;
    }

    .directionStep {
        margin-bottom: 10px;
    }


	.container {
	width: 900px;
	margin: 20px auto;
	padding: 16px;	
	}

	.row {
	width: 100%;
	}

	.column {
	float: left;
	padding: 16px;
	}

	.column-100 {
	width: 100%;
	}

	.column-70 {
	width: 70%;
	}

	.column-50 {
	width: 50%;
	}

	.column-30 {
	width: 30%;
	}
	.pull-right {
	text-align: right;
	}
